body {
    position: relative;
    margin: 0;
    padding: 0;
}

.separator{
    height:2px;
    width:auto;
    background-color:#5078a8;
    margin:1px 2px;
    padding:0 ;
}

p{
    /*text-align: justify;*/
    font-family: "Century Gothic", sans-serif;
}
a{
    text-decoration: none;
    color:black;
    transition: color ease-out;
    transition-duration: 0.25s;
}

.menu_item:hover {
    color :#0D2C51;
}
a:hover{
    color: #c3d1d7;
}
#menu_toggle {
    opacity: 0;
}
#menu_toggle:checked + .menu_btn > span {
    transform: rotate(45deg);
}
#menu_toggle:checked + .menu_btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu_toggle:checked + .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu_toggle:checked ~ .menu_box {
    left: 0 !important;
}
.menu_btn {
    position: fixed;
    top: 27px;
    left: 27px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 102;
    display: flex;
    align-items: center;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color:white;
    transition-duration: .25s;

}
.menu_btn > span::before {
    content: '';
    top: -8px;
}
.menu_btn > span::after {
    content: '';
    top: 8px;
}
.menu_box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #134074;
    transition-duration: .25s;
    z-index: 101;
}
.menu_item {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu_item:hover {
    background-color: #CFD8DC;
}

.menu_title{
    color:white;
    padding: 12px 24px;
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    border-bottom: solid 1px dimgrey;
}

.hamburger-menu{
    margin:0;
    padding:0;
    height: 0;
}
.header{
    margin:0;
    padding:0;
    opacity: 90%;
    background-color: #0D2C51;
    height: 80px;
    position: relative;
    top:0;
    z-index: 100;
    width: 100%;
}

.page_title{
    color:white;
    margin:0;
    padding: 20px 0 0 0;
    font-family: "Century Gothic", sans-serif;
    text-align: center;
}

.footer{
    height: 80px;
    background-color: #0D2C51;
    position:relative;
    bottom: 0;
    margin-top: 20px;

}

div {
    margin: 5px 0;
    padding: 20px;
    border-radius: 5px;
    font-family: "Century Gothic", sans-serif;
    /*box-shadow: 0 2px 5px rgba(0,0,0,0.1);*/
}

.block{
    justify-content: center;
    background-color: #5078a8;
}

.block:hover{
    background-color:#668cbb;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);

}
.conteneur { 
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    padding:0;
    

}

.forum {

    display : flex;
    flex-direction: column;
    justify-content :center;
    margin: 0 5;
    padding: 0 ;
}

.titre {
    color:rgb(255, 247, 247);
    height: 50%;
    padding: 5px 25px;
    margin: 5px 0px;
    background-color: rgb(52, 86, 135);

}

.section-post{

    margin:0;
    padding:0;
}
#one{
    padding: 15px 25px;
    margin: 5px 0px;

}
#two{
    padding: 15px 25px;
    margin: 5px 0px;

}
#three{
    padding: 15px 25px;
    margin: 5px 0px;

}
#four{
    padding: 15px 25px;
    margin: 5px 0px;
}

.discussion_generale_post{
    margin:0;
    padding:2px 0;
}

.post, .block-annonce ,.block-creation_de_post, .discussion_generale_post{
    padding:2px 0;
    margin: 0px 0px; 
}    
.post {
    padding : 2px 35px;
}

#block-post1,#block-post2,#block-post3 {
    display: flex;
    flex-direction: row;
    
    margin-top: 3;
    padding:0;
}

.post-right{
    margin:0 5;
    padding:0;
    width:100%;
}

.post-left{
    margin: 2px 5px;
    padding: 3px 2px;
    background-color: rgb(154, 118, 118);

}
.image-block {
    height: 45px;
    width: auto;
}


.text-annonce {
    background-color:rgb(200, 200, 220);
    padding: 5 0;
    margin:  0 0; 

}

input[type=text],input[type=submit] ,textarea{
    resize: none;
    outline:none;
    border: none;
    box-shadow: 0 0 3px 0;
    border-radius: 2px;
    margin-top: 10px;
}
input[type=text]{
    width: 990px;
    height: 20px;
}

input[type=submit]{
    cursor: pointer;
 }

label{
    font-size:medium;
    font-weight: 400;
}


.post{
    display: flex;
    flex-direction: row;
}
.partie_user{
    width:250px;
    margin:0px 0px;
    padding:0px 5px;
    background-color: rgb(154, 118, 118);

}
.post1-pdp{
    background-color: rgb(157, 123, 123);
}

.partie_post{
    width: 100%;
    margin:0px 5px 0px 15px;
    padding:0px 5px;
    background-color: rgb(102, 230, 187);
}
.user_pseudo {
    margin:2px 0 5px 0;
    padding:2px 0px;
    text-align:center;
    font-size:large;
}
.user-pdp{
    margin:0;
    padding:0;
    min-height:150px;
}

.post-titre{
    min-height: auto;
    margin:2px 10px;
    padding:2px 25px;
    font-size: large;
}
.post-titre{
    margin:5px;
    padding:5px;
    border-radius: 0%;
    border-bottom:solid  1px rgba(0,0,0,0.5);
.image-post {
    height: 300px;
    width: auto;
}

.post_fichier {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


}

.post-description{
    margin:5px;
    padding:5px;
    text-align: justify;
}
