body, h1, h2, h3, p, ul, li {
    margin: 0; 
    padding: 0; 
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:white;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

ul {
    list-style: none;
}

ul li {
    text align center;
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
}

.forum {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.conteneur {
    display : grid;
    grid-template-columns: 200px 1000px 200px;
    grid-template-rows: 100px 100px 100px 100px 100px;
}
.one{
    grid-column-start:2 ;
    grid-column-end:3 ;
    grid-row-start:2 ;
    grid-row-end:3;
}
.two{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:3 ;
    grid-row-end:4 ;
}

.three{
    grid-column-start:2 ;
    grid-column-end:3;
    grid-row-start:4 ;
    grid-row-end:5 ;
}

.four{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:5 ;
    grid-row-end:6 ;
}