body, h1, h2, h3, p, ul, li {
    margin: 0; 
    padding: 0; 
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:white;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

ul {
    list-style: none;
}

ul li {
    text align center;
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
}

.forum {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.conteneur {
    display : flex;
    flex-direction : row;
}