body {
    position: relative;
    margin: 0;
    padding: 0;

}

div {
    box: shadow 3px;;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

    

.conteneur { 

    display: block;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    

}
.titre {
    background-color: #333;
    color: #fff;
    position: relative;
    top: 0;

    text-align: center;
    align-content: center;     
}
.forum {

    display : flex;
    flex-direction: column;
    justify-content :center;
    margin: 0 5;
    padding: 0 ;
}

.sous-titre {
    height: 50%;
    padding: 5px 25px;
    margin: 0px 0px;

}

.one{
    padding: 15px 25px;
    margin: 5px 0px;

}
.two{
    padding: 15px 25px;
    margin: 5px 0px;

}
.three{
    padding: 15px 25px;
    margin: 5px 0px;

}
.four{
    padding: 15px 25px;
    margin: 5px 0px;
}

.post, .block-annonce ,.block-creation_de_post{
    padding: 5px 25px;
    margin: 0px 0px; 

}    

.post1,.post2 ,.post3 {
    display: flex;
    flex-direction: row;
    padding: 5px 25px;
    margin: 0px 10px;
    
}

.post-right{
    width:100%;
}

.post-left{

}