*{
    margin: 0;
}

#menu_toggle {
    opacity: 0;
}
#menu_toggle:checked + .menu_btn > span {
    transform: rotate(45deg);
}
#menu_toggle:checked + .menu_btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu_toggle:checked + .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu_toggle:checked ~ .menu_box {
    left: 0 !important;
}
.menu_btn {
    position: fixed;
    top: 27px;
    left: 27px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 102;
    display: flex;
    align-items: center;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
}
.menu_btn > span::before {
    content: '';
    top: -8px;
}
.menu_btn > span::after {
    content: '';
    top: 8px;
}
.menu_box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #134074;
    transition-duration: .25s;
    z-index: 101;
}
.menu_item {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu_item:hover {
    background-color: #CFD8DC;
}

.menu_title{
    color:white;
    padding: 12px 24px;
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    border-bottom: solid 1px dimgrey;
}

.hamburger-menu{
    height: 0;
}

.header{
    opacity: 90%;
    background-color: #0D2C51;
    height: 80px;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.profil {
    max-width: 5%;
    height: auto;
    position: fixed;
    top: 5px;
    left: 90%;
    cursor: pointer;
    z-index: 102;
    display: flex;
    align-items: center;
    
}

.menu-deroulant {
    left: 88%;
    position: relative;
    display: inline-block;
}

.menu-deroulant div {
    display: none; /* caché */
    position: absolute;
    background-color: #f9f9f9; /* gris pale */
    min-width: 160px;
    z-index: 1; /* en avant */
}

div div a {
    color: black;
    padding: 12px 16px;
    text-decoration: none; 
    display: block; 
}

.menu-deroulant:hover div {
    display: block;
}

.page_title{
    color:white;
    padding-top: 20px;
    font-family: "Century Gothic", sans-serif;
    text-align: center;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.banniere {
    position: relative;
    overflow: hidden; /* Important pour contenir l'image */
    height: 100vh; /* Hauteur fixe pour la visibilité parallaxe */
}

.banniere img {
    width: 100%;
    position: relative;
    display: block;
}

.titre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contenue {
    display: flex;
    flex-direction: row; /* Ajustez selon vos besoins: row ou column */
    justify-content: center; /* Centre les enfants horizontalement */
    align-items: center; /* Centre les enfants verticalement */
    margin-top: 20px;
}

.section1 {
    background-color: #134074;
    color: white;
    width: 200px;
    height: 350px;
    font-size: 20px;
    display: flex;
    justify-content: center; /* Centre le contenu textuel à l'intérieur de la section */
    align-items: center; /* Centre le contenu textuel verticalement */
    margin: 0 20px; /* Espacement entre les sections */
    padding: 20px;
}

.section2 {
    display: flex;
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center; /* Centre l'image verticalement */
    margin: 0 20px; /* Espacement entre les sections */
    margin-bottom: 20px;
}




.footer{
    height: 80px;
    background-color: #0D2C51;
}




