*{
    margin: 0;
}

#menu_toggle {
    opacity: 0;
}
#menu_toggle:checked + .menu_btn > span {
    transform: rotate(45deg);
}
#menu_toggle:checked + .menu_btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu_toggle:checked + .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu_toggle:checked ~ .menu_box {
    left: 0 !important;
}
.menu_btn {
    position: fixed;
    top: 27px;
    left: 27px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 102;
    display: flex;
    align-items: center;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
}
.menu_btn > span::before {
    content: '';
    top: -8px;
}
.menu_btn > span::after {
    content: '';
    top: 8px;
}
.menu_box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #134074;
    transition-duration: .25s;
    z-index: 101;
}
.menu_item {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu_item:hover {
    background-color: #CFD8DC;
}

.menu_title{
    color:white;
    padding: 12px 24px;
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    border-bottom: solid 1px dimgrey;
}

.hamburger-menu{
    height: 0;
}

.header{
    opacity: 90%;
    background-color: #0D2C51;
    height: 80px;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.profil {
    max-width: 5%;
    height: auto;
    position: fixed;
    top: 5px;
    left: 93%;
    cursor: pointer;
    z-index: 102;
    display: flex;
    align-items: center;
}

.page_title{
    color:white;
    padding-top: 20px;
    font-family: "Century Gothic", sans-serif;
    text-align: center;
}

.footer{
    height: 80px;
    background-color: #0D2C51;
}

body{
    background-color: white;
}

.main {
    font-family: Arial, sans-serif;
    color: black;
    font-size: 24px;
    text-align: justify;
    margin-top: 80px;
    overflow: auto;
}

.partie1 {
    position: relative;
    background-image: url("../source/pgw.jpg");
    opacity: 0.85;
    margin: 0;
}

.h1Title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7); 
    padding: 10px; 
    font-family: "Century Gothic", sans-serif;
    color: white;
    text-align: center;
    z-index: 10;
}

* {
    box-sizing: border-box;
}

.item {
    width: 50%;
    align-items: center;
}

.flex-container {
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
}

.flex-container > div {
    padding: 20px;
    margin: 10px;
    font-family: Calibri, sans-serif;
    font-size: 30px;
    display: flex;
}

.gallerie {
    max-width: 100%;
    height: auto;
}
.gallerie2 {
    max-width: 100%;
    height: auto;
}
.gallerie3 {
    display: block;
    margin: auto;
    max-width: 50%;
    height: auto;
}

.texte{
    font-size: 30px;
    font-family: Calibri, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}
.gallery-container {
    position: relative;
    width: 100%; 
    height: 500px; 
    background-image: url('../source/pgw.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.gallery-container::before, .gallery-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 15%; 
    height: 100%;
    background: inherit;
    background-position: 50% 0; 
    filter: blur(8px);
}

.gallery-container::before {
    left: 0;
}

.gallery-container::after {
    right: 0;
}
