header {
  background-color: #008083; 
  color: white; 
  padding: 10px; 
  height: 75px; 
}

nav{
width: 80%;
display: flex;
justify-content: space-between;
align-items: center;
padding: center;
}

.menu{
width: 50%;
}

.menu ul {
display: flex;
justify-content: space-around;
position: absolute;
}

.menu li {
list-style-type: none;
margin: 10px;

}


.menu a {
text-decoration: none;
color : #e0e3eb;
font-size: 30px;
cursor: pointer;
padding-bottom: 0.5em;
background-image: linear-gradient(#e0e3eb,#e0e3eb);
background-size: 0% 0.1em;
background-position-y: 100%;
background-position-x: 50% ;
background-repeat: no-repeat;
}

.menu a:hover {
background-size: 100% 0.15em;
}


h1{
  text-align: center;
  text-shadow: 3px 3px 0 rgb(110, 112, 117);
  font-size: 60px;
}

.contenue-1{
align-items: center;
align-content: center;
}

.image{
border-radius: 45px;
}

.playlist{
display: flex;
flex-direction: row;
align-items: center;
align-content: center;
}

.contenue-desc{
display: flex;
flex-direction: column;
padding-left: 20px;
}







.main {
background-color: white;
padding: 1em;
padding-bottom: 1.1em;
border-radius: 15px;
margin: 1em;
}

.loader {
display: flex;
flex-direction: row;
height: 4em;
padding-left: 1em;
padding-right: 1em;
transform: rotate(180deg);
justify-content: right;
border-radius: 10px;
transition: .4s ease-in-out;
}

.loader:hover {
cursor: pointer;
background-color: lightgray;
}


.soundcloud {
width: 50px;
height: 50px;
margin-right: 0.6em;
}

.heading {
color: black;
font-size: 1.1em;
font-weight: bold;
align-self: center;
}

.loading {
display: flex;
margin-top: 1em;
margin-left: 0.3em;
}

.load {
width: 2px;
height: 33px;
background-color: #ff8800;
animation: 1s move6 infinite;
border-radius: 5px;
margin: 0.1em;
}

.load:nth-child(1) {
animation-delay: 0.2s;
}

.load:nth-child(2) {
animation-delay: 0.4s;
}

.load:nth-child(3) {
animation-delay: 0.6s;
}

.play {
position: relative;
left: 0.35em;
height: 1.6em;
width: 1.6em;
clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
background-color: black;
transform: rotate(-90deg);
align-self: center;
margin-top: 0.7em;
justify-self: center;
}

.albumcover {
position: relative;
margin-right: 1em;
height: 40px;
width: 40px;
background-color: rgb(233, 232, 232);
align-self: center;
border-radius: 5px;
}

.song {
position: relative;
transform: rotate(180deg);
margin-right: 1em;
color: black;
align-self: center;
}

.artist {
font-size: 0.6em;
}

@keyframes move6 {
0% {
  height: 0.2em;
}

25% {
  height: 0.7em;
}

50% {
  height: 1.5em;
}

100% {
  height: 0.2em;
}
}


