header {
  background-color: #008083; 
  color: white; 
  padding: 10px; 
  height: 75px; 
}

nav{
width: 80%;
display: flex;
justify-content: space-between;
align-items: center;
padding: center;
}

.menu{
width: 50%;
}

.menu ul {
display: flex;
justify-content: space-around;
position: absolute;
}

.menu li {
list-style-type: none;
margin: 10px;

}


.menu a {
text-decoration: none;
color : #e0e3eb;
font-size: 30px;
cursor: pointer;
padding-bottom: 0.5em;
background-image: linear-gradient(#e0e3eb,#e0e3eb);
background-size: 0% 0.1em;
background-position-y: 100%;
background-position-x: 50% ;
background-repeat: no-repeat;
}

.menu a:hover {
background-size: 100% 0.15em;
}


h1{
  text-align: center;
  text-shadow: 3px 3px 0 rgb(110, 112, 117);
  font-size: 60px;
}

.contenue-1{
align-items: center;
align-content: center;
}

.image{
border-radius: 45px;
}

.playlist{
display: flex;
flex-direction: row;
align-items: center;
align-content: center;
}






.main {
background-color: white;
padding: 1em;
padding-bottom: 1.1em;
border-radius: 15px;
margin: 150px;

}

.loader {
display: flex;
flex-direction: row;
align-items: center;
align-content: center;
justify-content: center;
height: 150px;

padding-left: 1em;
padding-right: 1em;
transform: rotate(180deg);
justify-content: right;
border-radius: 10px;
transition: .4s ease-in-out;
}

.loader:hover {
cursor: pointer;
background-color: lightgray;
}

.heading {
color: black;
font-size: 1.1em;
font-weight: bold;
align-self: center;
}


.albumcover {
position: relative;
margin-right: 1em;
align-self: center;
border-radius: 5px;
}

.album {
  border-radius: 15px;
}

.song {
position: relative;
transform: rotate(180deg);
margin-right: 1em;
color: black;
align-self: center;
}

.name {
font-size: 25px;
}

.artist {
font-size: 16px;
}

.fleche {
  transform: rotate(180deg);
  margin-right: auto;
  
}




